<!doctype html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
</head>

<body style="width: max-content;margin: 0px; margin: auto;">

   <div
      style="width: 29.7cm;
         height: 21cm;background: #FFFFFF;font-family: Arial;font-style: normal;color: #44496B;background-image: url('http://localhost:4000/images/page1.png');background-size: 100%;">
      <div style="margin-left: 0.99cm;margin-right: 0.99cm;color: #44496B;">
         <nav class="nav" style="width:inherit;height: 2.11cm;margin-bottom: auto;">
            <div style="float: left;
         font-weight: bold; font-size: 20px;display: flex; margin-top: 0.847cm;">
               <img src="http://localhost:4000/images/Ellipse 1.png" alt="logo"
                  style="width: 1.6cm;height: 1.6cm;border-radius: 50%;margin: auto;margin-right: 0.4233cm;">
               <div style="margin: auto;">Restaurant name</div>
            </div>
            <div style="float: right;margin-top: 0.8823cm;">
               <div style="display: flex;">
                  <img src="http://localhost:4000/images/globe.png" width="12px" height="12px"
                     style="margin-right: 0.18cm;">
                  <a href="www.restaurantonlinestore.com"
                     style=" font-size: 12px;text-decoration: none; color: #44496B;transform: translateY(-2px);">www.restaurantonlinestore.com</a>
               </div>
               <div style="margin-top: 0.1cm; font-size: 12px;"><img src="http://localhost:4000/images/phone.png"
                     style="margin-right: 0.2cm;" width="12px" height="12px">+1 658 3467348343
               </div>
            </div>
         </nav>
         <div style="display: flex; padding-top: 0.7411cm; width: 100%; margin-bottom: 0.829cm">
            {{#if image}}
            <div style="margin-right: 1.12cm; ">
               <img src="{{image}}" alt="" width="13.75cm" height="10.323cm">
            </div>
            <div>
               <div class="header"
                  style="font-weight: bolder;font-size: 40px;font-family: Arial;width: 12.733cm;height: 7.87cm;margin-bottom: 0.4235cm;">
                  {{name}}
               </div>
               {{#if author}}
               <div class="author"
                  style="font-family: Arial;font-style: normal;font-weight: bold;width: fit-content;font-size: 20px;">
                  By: {{author}}
               </div>
               {{/if}}
               <div class="menu"
                  style="padding-top: 0.5647cm;font-family: Pacifico;font-style: normal;font-weight: normal;font-size: 20px;">
                  Non-vegeterian
                  <span style="font-size: 32px; font-weight: lighter;font-family: Arial;padding: 0px 20px ;">|</span>
                  Mexican
               </div>
            </div>
            {{else}}
            <div style="text-align: center;">
               <div
                  style="font-weight: bolder;font-size: 40px;font-family: Arial;width:26.52cm;height: 3.35cm;margin-bottom: 1.69cm;">
                  {{name}}
               </div>
               {{#if author}}
               <div style="font-family: Arial;font-style: normal;font-weight: bold;font-size: 20px;">
                  By: {{author}}
               </div>
               {{/if}}
               <div
                  style="padding-top: 0.847cm;font-family: Pacifico;font-style: normal;font-weight: normal;font-size: 20px;">
                  Non-vegeterian
                  <span style="font-size: 32px; font-weight: lighter;font-family: Arial;padding:0px 20px ;">|</span>
                  Mexican
               </div>
            </div>
            {{/if}}

         </div>
         {{#if description}}
         <div class="content"
            style="border-top: 2px solid #44496B;padding: 0.5647cm 0cm;font-style: normal;font-weight: bold;font-size: 16px;text-align: center;font-family: Arial;width: 27.72cm;min-height: 1.235cm;">
            {{description}}
         </div>
         {{/if}}

         <div class="list"
            style="padding: 0.9176cm 0px;font-size: 12px;display: flex;align-items: center;width: fit-content;margin: auto;">
            {{#if servings}}

            <div class="left" style="width: max-content;text-align: center;">
               <div class="list-title" style="font-size: 16px;text-align: center;font-weight: bold;">
                  Servings</div>
               <div class="quantity"
                  style="font-size: 24px;font-weight:bolder;padding: 0.282cm 0cm;padding-bottom: 0cm;text-align: center;">
                  {{servings}}</div>
            </div>
            <span
               style="font-size: 32px; font-weight: lighter;font-family: Arial;padding: 0px 2.01cm;margin-bottom: auto;">|</span>
            {{/if}}
            {{#if cookingTime}}

            <div class="mid" style="width: max-content;text-align: center;">
               <div class="list-title" style="font-size: 16px;text-align: center;font-weight: bold;">
                  Cooking Time</div>
               <div class="quantity"
                  style="font-size: 24px;font-weight:bolder;padding: 0.282cm 0cm;padding-bottom: 0cm;text-align: center;">
                  {{cookingTime}}</div>
            </div>
            <span
               style="font-size: 32px; font-weight: lighter;font-family: Arial;padding: 0px 2.01cm;margin-bottom: auto;">|</span>
            {{/if}}
            {{#if utensils}}

            <div class="right" style="width: max-content;text-align: center;">
               <div style="font-size: 16px;text-align: center;font-weight:bold;">Utensils required
               </div>
               <div class="quantity"
                  style="font-size: 24px;font-weight:bolder;padding: 0.282cm 0cm;padding-bottom: 0cm;text-align: center;">
                  {{utensils}}</div>
            </div>
            {{/if}}

         </div>

      </div>
   </div>
   <div style="width: 29.7cm;
      height: 21cm;
      background: #FFFFFF;
      font-family: Arial;background-image: url('http://localhost:4000/images/page2.png');
      background-size: 100%;
      font-style: normal;">
      <div style=" padding-top: 0.564cm;
   margin-right: 0.987cm;height: 20.436cm;
   display: flex;color: #44496B;">
         <div style="width: 8.04cm;">
            <div style=" font-size: 20px;
         font-family: Pacifico;
         text-align: center;
         width: 6.102cm;
         margin-left: 1.199cm;
         margin-bottom: 0.3529cm;">Ingredients</div>
            <div style="display: flex;
         font-size: 8px;">
               <div>
                  <ul style=" margin: 0cm;
               padding: 0cm;
               padding-left: 0.9876cm;
               list-style-type: none;">
                     <li style=" width: 2.75cm;
         text-align: center;
         height: max-content;
         margin-bottom: 0.5647cm;
         font-family: Arial;
         font-style: normal;
         font-weight: bold;">
                        <img src="http://localhost:4000/images/Rectangle 1.jpg" style="display: block;
         border-radius: 50%;
         width: 0.9876cm;
         margin: auto;
         height: 0.9876cm;
         margin-bottom: 0.15cm;">
                        1. Ingredient
                        slip
                        name
                     </li>
                     <li style=" width: 2.75cm;
                     text-align: center;
                     height: max-content;
                     margin-bottom: 0.5647cm;
                     font-family: Arial;
                     font-style: normal;
                     font-weight: bold;">
                        <img src="http://localhost:4000/images/Rectangle 1.jpg" style="display: block;
                     border-radius: 50%;
                     width: 0.9876cm;
                     margin: auto;
                     height: 0.9876cm;
                     margin-bottom: 0.15cm;">
                        2. Ingredient
                        slip
                        name
                     </li>
                     <li style=" width: 2.75cm;
                                 text-align: center;
                                 height: max-content;
                                 margin-bottom: 0.5647cm;
                                 font-family: Arial;
                                 font-style: normal;
                                 font-weight: bold;">
                        <img src="http://localhost:4000/images/Rectangle 1.jpg" style="display: block;
                                 border-radius: 50%;
                                 width: 0.9876cm;
                                 margin: auto;
                                 height: 0.9876cm;
                                 margin-bottom: 0.15cm;">
                        3. Ingredient
                        slip
                        name long long name
                     </li>
                     <li style=" width: 2.75cm;
                        text-align: center;
                        height: max-content;
                        margin-bottom: 0.5647cm;
                        font-family: Arial;
                        font-style: normal;
                        font-weight: bold;">
                        <img src="http://localhost:4000/images/Rectangle 1.jpg" style="display: block;
                           border-radius: 50%;
                           width: 0.9876cm;
                           margin: auto;
                           height: 0.9876cm;
                           margin-bottom: 0.15cm;">
                        1. Ingredient
                        slip
                        name
                     </li>
                     <li style=" width: 2.75cm;
                        text-align: center;
                        height: max-content;
                        margin-bottom: 0.5647cm;
                        font-family: Arial;
                        font-style: normal;
                        font-weight: bold;">
                        <img src="http://localhost:4000/images/Rectangle 1.jpg" style="display: block;
                           border-radius: 50%;
                           width: 0.9876cm;
                           margin: auto;
                           height: 0.9876cm;
                           margin-bottom: 0.15cm;">
                        5. Ingredient
                        slip
                        name long long name
                     </li>
                     <li style=" width: 2.75cm;
                        text-align: center;
                        height: max-content;
                        margin-bottom: 0.5647cm;
                        font-family: Arial;
                        font-style: normal;
                        font-weight: bold;">
                        <img src="http://localhost:4000/images/Rectangle 1.jpg" style="display: block;
                           border-radius: 50%;
                           width: 0.9876cm;
                           margin: auto;
                           height: 0.9876cm;
                           margin-bottom: 0.15cm;">
                        6. Ingredient
                        slip
                        name
                     </li>
                     <li style=" width: 2.75cm;
                        text-align: center;
                        height: max-content;
                        margin-bottom: 0.5647cm;
                        font-family: Arial;
                        font-style: normal;
                        font-weight: bold;">
                        <img src="http://localhost:4000/images/Rectangle 1.jpg" style="display: block;
                              border-radius: 50%;
                              width: 0.9876cm;
                              margin: auto;
                              height: 0.9876cm;
                              margin-bottom: 0.15cm;">
                        7. Ingredient
                        slip
                        name long long name
                     </li>
                     <li style=" width: 2.75cm;
                              text-align: center;
                              height: max-content;
                              margin-bottom: 0.5647cm;
                              font-family: Arial;
                              font-style: normal;
                              font-weight: bold;">
                        <img src="http://localhost:4000/images/Rectangle 1.jpg" style="display: block;
                              border-radius: 50%;
                              width: 0.9876cm;
                              margin: auto;
                              height: 0.9876cm;
                              margin-bottom: 0.15cm;">
                        8. Ingredient
                        slip
                        name
                     </li>
                     <li style=" width: 2.75cm;
                           text-align: center;
                           height: max-content;
                           margin-bottom: 0.5647cm;
                           font-family: Arial;
                           font-style: normal;
                           font-weight: bold;
                        ">
                        <img src="http://localhost:4000/images/Rectangle 1.jpg" style="display: block;
                              border-radius: 50%;
                              width: 0.9876cm;
                              margin: auto;
                              height: 0.9876cm;
                              margin-bottom: 0.15cm;">
                        8. Ingredient
                        slip
                        name long long name
                     </li>
                  </ul>
               </div>
               <div>
                  <ul start="9" style=" margin: 0px;
               padding: 0px;
               padding-left: 0.9876cm;
               padding-right: 0.5643cm;
               list-style-type: none;">
                     <li style=" width: 2.75cm;
                     text-align: center;
                     height: max-content;
                     margin-bottom: 0.5647cm;
                     font-family: Arial;
                     font-style: normal;
                     font-weight: bold;">
                        <img src="http://localhost:4000/images/Rectangle 1.jpg" style="display: block;
                     border-radius: 50%;
                     width: 0.9876cm;
                     margin: auto;
                     height: 0.9876cm;
                     margin-bottom: 0.15cm;">
                        9. Ingredient
                        slip
                        name
                     </li>
                     <li style=" width: 2.75cm;
                                 text-align: center;
                                 height: max-content;
                                 margin-bottom: 0.5647cm;
                                 font-family: Arial;
                                 font-style: normal;
                                 font-weight: bold;">
                        <img src="http://localhost:4000/images/Rectangle 1.jpg" style="display: block;
                                 border-radius: 50%;
                                 width: 0.9876cm;
                                 margin: auto;
                                 height: 0.9876cm;
                                 margin-bottom: 0.15cm;">
                        10. Ingredient
                        slip
                        name
                     </li>
                     <li style=" width: 2.75cm;
                                             text-align: center;
                                             height: max-content;
                                             margin-bottom: 0.5647cm;
                                             font-family: Arial;
                                             font-style: normal;
                                             font-weight: bold;">
                        <img src="http://localhost:4000/images/Rectangle 1.jpg" style="display: block;
                                             border-radius: 50%;
                                             width: 0.9876cm;
                                             margin: auto;
                                             height: 0.9876cm;
                                             margin-bottom: 0.15cm;">
                        11. Ingredient
                        slip
                        name long long name
                     </li>
                     <li style=" width: 2.75cm;
                                    text-align: center;
                                    height: max-content;
                                    margin-bottom: 0.5647cm;
                                    font-family: Arial;
                                    font-style: normal;
                                    font-weight: bold;">
                        <img src="http://localhost:4000/images/Rectangle 1.jpg" style="display: block;
                                       border-radius: 50%;
                                       width: 0.9876cm;
                                       margin: auto;
                                       height: 0.9876cm;
                                       margin-bottom: 0.15cm;">
                        12. Ingredient
                        slip
                        name
                     </li>
                     <li style=" width: 2.75cm;
                                    text-align: center;
                                    height: max-content;
                                    margin-bottom: 0.5647cm;
                                    font-family: Arial;
                                    font-style: normal;
                                    font-weight: bold;">
                        <img src="http://localhost:4000/images/Rectangle 1.jpg" style="display: block;
                                       border-radius: 50%;
                                       width: 0.9876cm;
                                       margin: auto;
                                       height: 0.9876cm;
                                       margin-bottom: 0.15cm;">
                        13. Ingredient
                        slip
                        name long long name
                     </li>
                     <li style=" width: 2.75cm;
                                    text-align: center;
                                    height: max-content;
                                    margin-bottom: 0.5647cm;
                                    font-family: Arial;
                                    font-style: normal;
                                    font-weight: bold;">
                        <img src="http://localhost:4000/images/Rectangle 1.jpg" style="display: block;
                                       border-radius: 50%;
                                       width: 0.9876cm;
                                       margin: auto;
                                       height: 0.9876cm;
                                       margin-bottom: 0.15cm;">
                        14. Ingredient
                        slip
                        name
                     </li>
                     <li style=" width: 2.75cm;
                                    text-align: center;
                                    height: max-content;
                                    margin-bottom: 0.5647cm;
                                    font-family: Arial;
                                    font-style: normal;
                                    font-weight: bold;">
                        <img src="http://localhost:4000/images/Rectangle 1.jpg" style="display: block;
                                          border-radius: 50%;
                                          width: 0.9876cm;
                                          margin: auto;
                                          height: 0.9876cm;
                                          margin-bottom: 0.15cm;">
                        15. Ingredient
                        slip
                        name long long name
                     </li>
                     <li style=" width: 2.75cm;
                                          text-align: center;
                                          height: max-content;
                                          margin-bottom: 0.5647cm;
                                          font-family: Arial;
                                          font-style: normal;
                                          font-weight: bold;">
                        <img src="http://localhost:4000/images/Rectangle 1.jpg" style="display: block;
                                          border-radius: 50%;
                                          width: 0.9876cm;
                                          margin: auto;
                                          height: 0.9876cm;
                                          margin-bottom: 0.15cm;">
                        16. Ingredient
                        slip
                        name
                     </li>
                     <li style=" width: 2.75cm;
                                       text-align: center;
                                       height: max-content;
                                       margin-bottom: 0.5647cm;
                                       font-family: Arial;
                                       font-style: normal;
                                       font-weight: bold;">
                        <img src="http://localhost:4000/images/Rectangle 1.jpg" style="display: block;
                                          border-radius: 50%;
                                          width: 0.9876cm;
                                          margin: auto;
                                          height: 0.9876cm;
                                          margin-bottom: 0.15cm;">
                        16. Ingredient
                        slip
                        name
                     </li>
                  </ul>
               </div>
            </div>
         </div>
         <div
            style="width: 1px;height: 21cm;border-left: 1px dashed #44496B;transform: translateY(-0.4cm);margin-right: 0.9876cm;">
         </div>
         <div class="content">
            <div style="display: flex;
         font-size: 6px;">
               <div>
                  <div style="width: 5.82cm;margin-left: 0cm;margin-bottom: 0.3529cm;font-size: 20px;
               font-family: Pacifico;">Preparation directions</div>
                  <ul style="margin: 0cm;
               padding: 0cm;
               list-style-type: none;position: relative;">
                     <div style="margin-right:1.1287cm;">
                        <img src="http://localhost:4000/images/Rectangle 1.jpg" style="width: 5.82cm;
                                 height: 4.367cm;">
                        <li>
                           <p style="text-align: left;
                        font-family: Arial;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 8px;
                        width: 5.82cm;
                        margin: 0cm;
                        padding-bottom: 0.3cm;
                        position: relative;">
                              <span style="font-family: Pacifico;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 7px; ">1. Prepare :</span>
                              Heat oil in a medium saucepan over medium heat. Coat choice of protein with cajun spices
                              on both
                              sides. Add protein choice to the saucepan, cooking thoroughly until both sides are a dark
                              brown
                              color. Spritz lemon juice over protein during cooking process.
                           </p>
                        </li>
                     </div>
                     <div style="margin-right:1.1287cm;">
                        <img src="http://localhost:4000/images/Rectangle 1.jpg" style="width: 5.82cm;
                                 height: 4.367cm;">
                        <li>
                           <p style="text-align: left;
                        font-family: Arial;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 8px;
                        width: 5.82cm;
                        
                        margin: 0cm;
                        padding-bottom: 0.3cm;
                        position: relative;">
                              <span style="font-family: Pacifico;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 7px; ">2. Heat and Boil :</span>
                              Heat oil in a medium saucepan over medium heat. Coat choice of protein with cajun spices
                              on both
                              sides. Add protein choice to the saucepan, cooking thoroughly until both sides are a dark
                              brown
                              color. Spritz lemon juice over protein during cooking process.
                           </p>
                        </li>
                     </div>
                     <div style="margin-right:1.1287cm;">

                        <img src="http://localhost:4000/images/Rectangle 1.jpg" style="width: 5.82cm;
                                 height: 4.367cm;">
                        <li>
                           <p style="text-align: left;
                           font-family: Arial;
                           font-style: normal;
                           font-weight: normal;
                           font-size: 8px;
                           width: 5.82cm;
                           
                           margin: 0cm;
                           padding-bottom: 0.3cm;
                           position: relative;">
                              <span style="font-family: Pacifico;
                           font-style: normal;
                           font-weight: normal;
                           font-size: 7px; ">3. Heat and Boil :</span>
                              Heat oil in a medium saucepan over medium heat. Coat choice of protein with cajun spices
                              on both
                              sides. Add protein choice to the saucepan, cooking thoroughly until both sides are a dark
                              brown
                              color. Spritz lemon juice over protein during cooking process.
                           </p>
                        </li>
                     </div>
                     </ol>
               </div>
               <div>
                  <ul style="margin: 0px;
               padding: 0px;
               list-style-type: none;position: relative;">
                     <div style="margin-right:1.1287cm;">
                        <img src="http://localhost:4000/images/Rectangle 1.jpg" style="width: 5.82cm;
                              height: 4.367cm;">
                        <li>
                           <p style="text-align: left;
                           font-family: Arial;
                           font-style: normal;
                           font-weight: normal;
                           font-size: 8px;
                           width: 5.82cm;
                           
                           margin: 0cm;
                           padding-bottom: 0.3cm;
                           position: relative;">
                              <span style="font-family: Pacifico;
                           font-style: normal;
                           font-weight: normal;
                           font-size: 7px; ">1. Prepare :</span>
                              Heat oil in a medium saucepan over medium heat. Coat choice of protein with cajun spices
                              on both
                              sides. Add protein choice to the saucepan, cooking thoroughly until both sides are a dark
                              brown
                              color. Spritz lemon juice over protein during cooking process.
                           </p>
                        </li>
                     </div>
                     <div style="margin-right:1.1287cm;">
                        <img src="http://localhost:4000/images/Rectangle 1.jpg" style="width: 5.82cm;
                              height: 4.367cm;">

                        <li>
                           <p style="text-align: left;
                        font-family: Arial;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 8px;
                        width: 5.82cm;
                        
                        margin: 0cm;
                        padding-bottom: 0.3cm;
                        position: relative;">
                              <span style="font-family: Pacifico;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 7px; ">1. Prepare :</span>
                              Heat oil in a medium saucepan over medium heat. Coat choice of protein with cajun spices
                              on both
                              sides. Add protein choice to the saucepan, cooking thoroughly until both sides are a dark
                              brown
                              color. Spritz lemon juice over protein during cooking process.
                           </p>
                        </li>
                     </div>
                  </ul>
                  <img style="width: 5.82cm;
         height: 0.8117cm;
         margin-bottom: 0.1411cm" src="http://localhost:4000/images/8iGbRLX5T 1.png" alt="design">
                  <div style="width: 5.82cm;margin-left: 0cm;margin-bottom: 0.1411cm;font-size: 20px;
               font-family: Pacifico;">Garnish</div>
                  <ul style="margin: 0px;
               padding: 0px;
               list-style-type: none;position: relative;">
                     <div style="margin-right:1.1287cm;">

                        <img src="http://localhost:4000/images/Rectangle 1.jpg" style="width: 5.82cm;
                              height: 4.367cm;">
                        <li>
                           <p style="text-align: left;
                           font-family: Arial;
                           font-style: normal;
                           font-weight: normal;
                           font-size: 8px;
                           width: 5.82cm;
                           
                           margin: 0cm;
                           padding-bottom: 0.3cm;
                           position: relative;">
                              <span style="font-family: Pacifico;
                           font-style: normal;
                           font-weight: normal;
                           font-size: 7px; ">1. Prepare :</span>
                              Heat oil in a medium saucepan over medium heat. Coat choice of protein with cajun spices
                              on both
                              sides. Add protein choice to the saucepan, cooking thoroughly until both sides are a dark
                              brown
                              color. Spritz lemon juice over protein during cooking process.
                           </p>
                        </li>
                     </div>
                  </ul>
               </div>
               <div>
                  <ul style=" margin: 0px;
               padding: 0px;
               list-style-type: none;">
                     <div style="margin-right:1.1287cm;">

                        <img src="http://localhost:4000/images/Rectangle 1.jpg" style="width: 5.82cm;
                              height: 4.367cm;
                              display: block;">
                        <li>
                           <p style="text-align: left;
                           font-family: Arial;
                           font-style: normal;
                           font-weight: normal;
                           font-size: 8px;
                           width: 5.82cm;
                           
                           margin: 0cm;
                           padding-bottom: 0.3cm;
                           position: relative;">
                              <span style="font-family: Pacifico;
                           font-style: normal;
                           font-weight: normal;
                           font-size: 7px; ">1. Prepare :</span>
                              Heat oil in a medium saucepan over medium heat. Coat choice of protein with cajun spices
                              on both
                              sides. Add protein choice to the saucepan, cooking thoroughly until both sides are a dark
                              brown
                              color. Spritz lemon juice over protein during cooking process.
                           </p>
                        </li>
                     </div>
                     <div style="margin-right:1.1287cm;">

                        <img src="http://localhost:4000/images/Rectangle 1.jpg" style="width: 5.82cm;
                              height: 4.367cm;">
                        <li>
                           <p style="text-align: left;
                           font-family: Arial;
                           font-style: normal;
                           font-weight: normal;
                           font-size: 8px;
                           width: 5.82cm;
                           
                           margin: 0cm;
                           padding-bottom: 0.3cm;
                           position: relative;">
                              <span style="font-family: Pacifico;
                           font-style: normal;
                           font-weight: normal;
                           font-size: 7px; ">1. Prepare :</span>
                              Heat oil in a medium saucepan over medium heat. Coat choice of protein with cajun spices
                              on both
                              sides. Add protein choice to the saucepan, cooking thoroughly until both sides are a dark
                              brown
                              color. Spritz lemon juice over protein during cooking process.
                           </p>
                        </li>
                     </div>
                     <div style="margin-right:1.1287cm;">
                        <img src="http://localhost:4000/images/Rectangle 1.jpg" style="width: 5.82cm;
                              height: 4.367cm;">
                     </div>
                     <li>
                        <p style="text-align: left;
                           font-family: Arial;
                           font-style: normal;
                           font-weight: normal;
                           font-size: 8px;
                           width: 5.82cm;
                           
                           margin: 0cm;
                           padding-bottom: 0.3cm;
                           position: relative;">
                           <span style="font-family: Pacifico;
                           font-style: normal;
                           font-weight: normal;
                           font-size: 7px; ">1. Prepare :</span>
                           Heat oil in a medium saucepan over medium heat. Coat choice of protein with cajun spices
                           on both
                           sides. Add protein choice to the saucepan, cooking thoroughly until both sides are a dark
                           brown
                           color. Spritz lemon juice over protein during cooking process.
                        </p>
                     </li>
                  </ul>
                  <img style="width: 5.82cm;
         height: 0.8117cm;
         margin-bottom: 0.1411cm" src="http://localhost:4000/images/8iGbRLX5T 1.png" alt="design">
               </div>
            </div>
         </div>
      </div>
   </div>
</body>

</html>