<!doctype html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <title>{{ name }}</title>
</head>

<body style="margin: auto;background: #FFFFFF;font-family: Arial;font-style: normal;">
   <div style="margin-top:10%;margin-right: auto;margin-left:auto;display: flex;width: 842px;height: 595px;">
      <div style="height:595px;margin-right: 10px;border-right: 1px dashed #44496B;">
         <div style="font-size: 14px;font-family: Pacifico;text-align: center;">Ingredients</div>
         <div style="display: flex;font-size: 10px;">
            <div class="left">
               <ol style="padding-left: 20px;">
                  <li style="padding: 12px 12px 12px 0px;"><img src="http://localhost:4000/images/Rectangle 1.jpg"
                        style="display: block;border-radius: 50%;width: 28px;height: 28px;">Ingredient
                     slip
                     name
                  </li>
                  <li style="padding: 12px 12px 12px 0px;"><img src="http://localhost:4000/images/Rectangle 1.jpg"
                        style="display: block;border-radius: 50%;width: 28px;height: 28px;">Ingredient
                     slip
                     name
                  </li>
                  <li style="padding: 12px 12px 12px 0px;"><img src="http://localhost:4000/images/Rectangle 1.jpg"
                        style="display: block;border-radius: 50%;width: 28px;height: 28px;">Ingredient
                     slip
                     name
                     long long
                     name</li>
                  <li style="padding: 12px 12px 12px 0px;"><img src="http://localhost:4000/images/Rectangle 1.jpg"
                        style="display: block;border-radius: 50%;width: 28px;height: 28px;">Ingredient
                     slip
                     name
                  </li>
                  <li style="padding: 12px 12px 12px 0px;"><img src="http://localhost:4000/images/Rectangle 1.jpg"
                        style="display: block;border-radius: 50%;width: 28px;height: 28px;">Ingredient
                     slip
                     name
                     long long
                     name</li>
                  <li style="padding: 12px 12px 12px 0px;"><img src="http://localhost:4000/images/Rectangle 1.jpg"
                        style="display: block;border-radius: 50%;width: 28px;height: 28px;">Ingredient
                     slip
                     name
                  </li>
                  <li style="padding: 12px 12px 12px 0px;"><img src="http://localhost:4000/images/Rectangle 1.jpg"
                        style="display: block;border-radius: 50%;width: 28px;height: 28px;">Ingredient
                     slip
                     name
                     long long
                     name</li>
                  <li style="padding: 12px 12px 12px 0px;"><img src="http://localhost:4000/images/Rectangle 1.jpg"
                        style="display: block;border-radius: 50%;width: 28px;height: 28px;">Ingredient
                     slip
                     name
                  </li>
               </ol>
            </div>
            <div class="right">
               <ol start="9" style="padding-left: 30px;">
                  <li style="padding: 12px 12px 12px 0px;"><img src="http://localhost:4000/images/Rectangle 1.jpg"
                        style="display: block;border-radius: 50%;width: 28px;height: 28px;">Ingredient
                     slip
                     name
                  </li>
                  <li style="padding: 12px 12px 12px 0px;"><img src="http://localhost:4000/images/Rectangle 1.jpg"
                        style="display: block;border-radius: 50%;width: 28px;height: 28px;">Ingredient
                     slip
                     name
                  </li>
                  <li style="padding: 12px 12px 12px 0px;"><img src="http://localhost:4000/images/Rectangle 1.jpg"
                        style="display: block;border-radius: 50%;width: 28px;height: 28px;">Ingredient
                     slip
                     name
                     long long
                     name</li>
                  <li style="padding: 12px 12px 12px 0px;"><img src="http://localhost:4000/images/Rectangle 1.jpg"
                        style="display: block;border-radius: 50%;width: 28px;height: 28px;">Ingredient
                     slip
                     name
                  </li>
                  <li style="padding: 12px 12px 12px 0px;"><img src="http://localhost:4000/images/Rectangle 1.jpg"
                        style="display: block;border-radius: 50%;width: 28px;height: 28px;">Ingredient
                     slip
                     name
                     long long
                     name</li>
                  <li style="padding: 12px 12px 12px 0px;"><img src="http://localhost:4000/images/Rectangle 1.jpg"
                        style="display: block;border-radius: 50%;width: 28px;height: 28px;">Ingredient
                     slip
                     name
                  </li>
                  <li style="padding: 12px 12px 12px 0px;"><img src="http://localhost:4000/images/Rectangle 1.jpg"
                        style="display: block;border-radius: 50%;width: 28px;height: 28px;">Ingredient
                     slip
                     name
                     long long
                     name</li>
                  <li style="padding: 12px 12px 12px 0px;"><img src="http://localhost:4000/images/Rectangle 1.jpg"
                        style="display: block;border-radius: 50%;width: 28px;height: 28px;">Ingredient
                     slip
                     name
                  </li>
               </ol>
            </div>
         </div>
      </div>
      <div>
         <div style="font-size: 14px;font-family: Pacifico;text-align: center;">Preparation directions
         </div>
         <div style="display: flex;font-size: 10px;">
            <div class="left">
               <ol style="padding-left: 10px;position: relative; list-style-type: none;">
                  <li>
                     <img src="http://localhost:4000/images/Rectangle 1.jpg"
                        style="width: 150px;height: 100px;display: block;">
                     <div class="top-left"
                        style="position: absolute;transform: translateY(-100px);background-color: white;color: black;">
                        Prepare</div>
                  </li>
                  <p style="text-align: justify;width: 150px;padding-bottom: 0px;font-size: 8px;">Heat oil in a medium
                     saucepan over medium heat. Coat choice of protein with cajun spices on both
                     sides. Add protein choice to the saucepan, cooking thoroughly until both sides are a dark brown
                     color. Spritz lemon juice over protein during cooking process.</p>
                  <li>
                     <img src="http://localhost:4000/images/Rectangle 1.jpg" class="dd"
                        style="width: 150px;height: 100px;display: block;">
                     <div class="top-left"
                        style="position: absolute;transform: translateY(-100px);background-color: white;color: black;">
                        Prepare</div>
                  </li>
                  <p style="text-align: justify;width: 150px;padding-bottom: 0px;font-size: 8px;">Heat oil in a medium
                     saucepan over medium heat. Coat choice of protein with cajun spices on both
                     sides. Add protein choice to the saucepan, cooking thoroughly until both sides are a dark brown
                     color. Spritz lemon juice over protein during cooking process.</p>
                  <li>
                     <img src="http://localhost:4000/images/Rectangle 1.jpg"
                        style="width: 150px;height: 100px;display: block;">
                     <div class="top-left"
                        style="position: absolute;transform: translateY(-100px);background-color: white;color: black;">
                        Prepare</div>
                  </li>
                  <p style="text-align: justify;width: 150px;padding-bottom: 0px;font-size: 8px;">Heat oil in a medium
                     saucepan over medium heat. Coat choice of protein with cajun spices on both
                     sides. Add protein choice to the saucepan, cooking thoroughly until both sides are a dark brown
                     color. Spritz lemon juice over protein during cooking process.</p>

               </ol>
            </div>
            <div style="padding: 0px 30px 0px 30px;">
               <ol style="padding-left: 0px;position: relative;list-style-type: none;">
                  <li>
                     <img src="http://localhost:4000/images/Rectangle 1.jpg" class="dd"
                        style="width: 150px;height: 100px;display: block;">
                     <div class="top-left"
                        style="position: absolute;transform: translateY(-100px);background-color: white;color: black;">
                        Prepare</div>
                  </li>
                  <p style="text-align: justify;width: 150px;padding-bottom: 0px;font-size: 8px;">Heat oil in a medium
                     saucepan over medium heat. Coat choice of protein with cajun spices on both
                     sides. Add protein choice to the saucepan, cooking thoroughly until both sides are a dark brown
                     color. Spritz lemon juice over protein during cooking process.</p>
                  <li>
                     <img src="http://localhost:4000/images/Rectangle 1.jpg" class="dd"
                        style="width: 150px;height: 100px;display: block;">
                     <div
                        style="position: absolute;transform: translateY(-100px);background-color: white;color: black;">
                        Prepare</div>
                  </li>
                  <p style="text-align: justify;width: 150px;padding-bottom: 0px;font-size: 8px;">Heat oil in a medium
                     saucepan over medium heat. Coat choice of protein with cajun spices on both
                     sides. Add protein choice to the saucepan, cooking thoroughly until both sides are a dark brown
                     color. Spritz lemon juice over protein during cooking process.</p>
               </ol>
               <img src="http://localhost:4000/images/8iGbRLX5T 1.png" alt="design" style="width: 150px;">
               <div style="font-size: 14px;font-family: Pacifico;text-align: center;">Preparation
                  directions</div>
               <ol style="padding-left: 0px;position: relative;list-style-type: none;">
                  <li>
                     <img src="http://localhost:4000/images/Rectangle 1.jpg" class="dd"
                        style="width: 150px;height: 100px;display: block;">
                     <div
                        style="position: absolute;transform: translateY(-100px);background-color: white;color: black;">
                        Prepare</div>
                  </li>
                  <p style="text-align: justify;width: 150px;padding-bottom: 0px;font-size: 8px;">Heat oil in a medium
                     saucepan over medium heat. Coat choice of protein with cajun spices on both
                     sides. Spritz lemon juice over protein during cooking process.</p>

               </ol>
            </div>
            <div class="right">
               <ol class="dt" style="padding-left: 0px;position: relative;list-style-type: none;">
                  <li>
                     <img src="http://localhost:4000/images/Rectangle 1.jpg" class="dd"
                        style="width: 150px;height: 100px;display: block;">
                     <div class="top-left"
                        style="position: absolute;transform: translateY(-100px);background-color: white;color: black;">
                        Prepare</div>
                  </li>
                  <p style="text-align: justify;width: 150px;padding-bottom: 0px;font-size: 8px;">Heat oil in a medium
                     saucepan over medium heat. Coat choice of protein with cajun spices on both
                     sides. Add protein choice to the saucepan, cooking thoroughly until both sides are a dark brown
                     color. Spritz lemon juice over protein during cooking process.</p>
                  <li>
                     <img src="http://localhost:4000/images/Rectangle 1.jpg" class="dd"
                        style="width: 150px;height: 100px;display: block;">
                     <div class="top-left"
                        style="position: absolute;transform: translateY(-100px);background-color: white;color: black;">
                        Prepare</div>
                  </li>
                  <p style="text-align: justify;width: 150px;padding-bottom: 0px;font-size: 8px;">Heat oil in a medium
                     saucepan over medium heat. Coat choice of protein with cajun spices on both
                     sides. Add protein choice to the saucepan, cooking thoroughly until both sides are a dark brown
                     color. Spritz lemon juice over protein during cooking process.</p>
                  <li>
                     <img src="http://localhost:4000/images/Rectangle 1.jpg" class="dd"
                        style="width: 150px;height: 100px;display: block;">
                     <div class="top-left"
                        style="position: absolute;transform: translateY(-100px);background-color: white;color: black;">
                        Prepare</div>
                  </li>
                  <p style="text-align: justify;width: 150px;padding-bottom: 0px;font-size: 8px;">Heat oil in a medium
                     saucepan over medium heat. Coat choice of protein with cajun spices on both
                     sides. Add protein choice to the saucepan, cooking thoroughly until both sides are a dark brown
                     color. Spritz lemon juice over protein during cooking process.</p>

               </ol>
               <img class="design" src="http://localhost:4000/images/8iGbRLX5T 1.png" alt="design"
                  style="width: 150px;">
            </div>
         </div>
      </div>
   </div>
</body>

</html>