<!doctype html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <title>{{ name }}</title>
   <style>
      body {
         width: 595px;
         height: 842px;
         border: 1px solid #111111;
         margin: 10px 10px 10px 10px;
         background: #FFFFFF;
         font-family: Arial;
         font-style: normal;
      }

      .container {
         margin-top: 16px;
         margin-right: 20px;
         display: flex;
      }

      .list {
         height: 800px;
         margin-right: 10px;
         border-right: 1px dashed #44496B;
      }

      .header {
         font-size: 14px;
         font-family: Pacifico;
         text-align: center;
      }

      .wrapper {
         display: flex;
         font-size: 10px;
      }

      .circle {
         display: block;
         border-radius: 50%;
         width: 28px;
         height: 28px;
      }

      .list-ele {
         padding: 16px 16px 16px 0px;
      }

      .dt {
         position: relative;
         padding-left: 0px;
      }

      .top-left {
         position: absolute;
         transform: translateY(-100px);
         background-color: white;
         color: black;
      }

      .dd {
         width: 100px;
         height: 100px;
         display: block;
      }

      p {
         text-align: justify;

         width: 100px;
         padding-bottom: 20px;
         font-size: 8px;
      }

      ol {
         padding-left: 20px;
      }

      .mid {
         padding: 0px 10px 0px 10px;
      }

      .content {
         width: 60%;
      }

      .design {
         width: 100px;
      }
   </style>
</head>

<body>
   <div class="container">
      <div class="list">
         <div class="header">Ingredients</div>
         <div class="wrapper">
            <div class="left">
               <ol>
                  <li class="list-ele"><img src="../../../assets/images/Rectangle 1.jpg" class="circle">Ingredient slip
                     name
                  </li>
                  <li class="list-ele"><img src="../../../assets/images/Rectangle 1.jpg" class="circle">Ingredient slip
                     name
                  </li>
                  <li class="list-ele"><img src="../../../assets/images/Rectangle 1.jpg" class="circle">Ingredient slip
                     name
                     long long
                     name</li>
                  <li class="list-ele"><img src="../../../assets/images/Rectangle 1.jpg" class="circle">Ingredient slip
                     name
                  </li>
                  <li class="list-ele"><img src="../../../assets/images/Rectangle 1.jpg" class="circle">Ingredient slip
                     name
                     long long
                     name</li>
                  <li class="list-ele"><img src="../../../assets/images/Rectangle 1.jpg" class="circle">Ingredient slip
                     name
                  </li>
                  <li class="list-ele"><img src="../../../assets/images/Rectangle 1.jpg" class="circle">Ingredient slip
                     name
                     long long
                     name</li>
                  <li class="list-ele"><img src="../../../assets/images/Rectangle 1.jpg" class="circle">Ingredient slip
                     name
                  </li>
               </ol>
            </div>
            <div class="right">
               <ol start="9">
                  <li class="list-ele"><img src="../../../assets/images/Rectangle 1.jpg" class="circle">Ingredient slip
                     name
                  </li>
                  <li class="list-ele"><img src="../../../assets/images/Rectangle 1.jpg" class="circle">Ingredient slip
                     name
                  </li>
                  <li class="list-ele"><img src="../../../assets/images/Rectangle 1.jpg" class="circle">Ingredient slip
                     name
                     long long
                     name</li>
                  <li class="list-ele"><img src="../../../assets/images/Rectangle 1.jpg" class="circle">Ingredient slip
                     name
                  </li>
                  <li class="list-ele"><img src="../../../assets/images/Rectangle 1.jpg" class="circle">Ingredient slip
                     name
                     long long
                     name</li>
                  <li class="list-ele"><img src="../../../assets/images/Rectangle 1.jpg" class="circle">Ingredient slip
                     name
                  </li>
                  <li class="list-ele"><img src="../../../assets/images/Rectangle 1.jpg" class="circle">Ingredient slip
                     name
                     long long
                     name</li>
                  <li class="list-ele"><img src="../../../assets/images/Rectangle 1.jpg" class="circle">Ingredient slip
                     name
                  </li>
               </ol>
            </div>
         </div>
      </div>
      <div class="content">
         <div class="header">Preparation directions</div>
         <div class="wrapper">
            <div class="left">
               <ol class="dt">
                  <li>
                     <img src="../../../assets/images/Rectangle 1.jpg" class="dd">
                     <div class="top-left">Prepare</div>
                  </li>
                  <p>Heat oil in a medium saucepan over medium heat. Coat choice of protein with cajun spices on both
                     sides. Add protein choice to the saucepan, cooking thoroughly until both sides are a dark brown
                     color. Spritz lemon juice over protein during cooking process.</p>
                  <li>
                     <img src="../../../assets/images/Rectangle 1.jpg" class="dd">
                     <div class="top-left">Prepare</div>
                  </li>
                  <p>Heat oil in a medium saucepan over medium heat. Coat choice of protein with cajun spices on both
                     sides. Add protein choice to the saucepan, cooking thoroughly until both sides are a dark brown
                     color. Spritz lemon juice over protein during cooking process.</p>
                  <li>
                     <img src="../../../assets/images/Rectangle 1.jpg" class="dd">
                     <div class="top-left">Prepare</div>
                  </li>
                  <p>Heat oil in a medium saucepan over medium heat. Coat choice of protein with cajun spices on both
                     sides. Add protein choice to the saucepan, cooking thoroughly until both sides are a dark brown
                     color. Spritz lemon juice over protein during cooking process.</p>

               </ol>
            </div>
            <div class="mid">
               <ol class="dt">
                  <li>
                     <img src="../../../assets/images/Rectangle 1.jpg" class="dd">
                     <div class="top-left">Prepare</div>
                  </li>
                  <p>Heat oil in a medium saucepan over medium heat. Coat choice of protein with cajun spices on both
                     sides. Add protein choice to the saucepan, cooking thoroughly until both sides are a dark brown
                     color. Spritz lemon juice over protein during cooking process.</p>
                  <li>
                     <img src="../../../assets/images/Rectangle 1.jpg" class="dd">
                     <div class="top-left">Prepare</div>
                  </li>
                  <p>Heat oil in a medium saucepan over medium heat. Coat choice of protein with cajun spices on both
                     sides. Add protein choice to the saucepan, cooking thoroughly until both sides are a dark brown
                     color. Spritz lemon juice over protein during cooking process.</p>
               </ol>
               <img class="design" src="../../../assets/images/8iGbRLX5T 1.png" alt="design">
               <div class="header">Preparation directions</div>
               <ol class="dt">
                  <li>
                     <img src="../../../assets/images/Rectangle 1.jpg" class="dd">
                     <div class="top-left">Prepare</div>
                  </li>
                  <p>Heat oil in a medium saucepan over medium heat. Coat choice of protein with cajun spices on both
                     sides. Add protein choice to the saucepan, cooking thoroughly until both sides are a dark brown
                     color. Spritz lemon juice over protein during cooking process.</p>

               </ol>
            </div>
            <div class="right">
               <ol class="dt">
                  <li>
                     <img src="../../../assets/images/Rectangle 1.jpg" class="dd">
                     <div class="top-left">Prepare</div>
                  </li>
                  <p>Heat oil in a medium saucepan over medium heat. Coat choice of protein with cajun spices on both
                     sides. Add protein choice to the saucepan, cooking thoroughly until both sides are a dark brown
                     color. Spritz lemon juice over protein during cooking process.</p>
                  <li>
                     <img src="../../../assets/images/Rectangle 1.jpg" class="dd">
                     <div class="top-left">Prepare</div>
                  </li>
                  <p>Heat oil in a medium saucepan over medium heat. Coat choice of protein with cajun spices on both
                     sides. Add protein choice to the saucepan, cooking thoroughly until both sides are a dark brown
                     color. Spritz lemon juice over protein during cooking process.</p>
                  <li>
                     <img src="../../../assets/images/Rectangle 1.jpg" class="dd">
                     <div class="top-left">Prepare</div>
                  </li>
                  <p>Heat oil in a medium saucepan over medium heat. Coat choice of protein with cajun spices on both
                     sides. Add protein choice to the saucepan, cooking thoroughly until both sides are a dark brown
                     color. Spritz lemon juice over protein during cooking process.</p>

               </ol>
               <img class="design" src="../../../assets/images/8iGbRLX5T 1.png" alt="design">
            </div>
         </div>
      </div>
   </div>
</body>

</html>