<!doctype html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
   <title>{{ name }}</title>
</head>

<body style="width: max-content;margin: 0px;">

   <div style="width: 29.7cm;
         height: 21cm;background: #FFFFFF;font-family: Arial;font-style: normal;color: #44496B;">
      <div style="margin-left: 0.99cm;margin-right: 0.99cm;color: #44496B;">
         <nav class="nav" style="width:inherit;height: 2.11cm;margin-bottom: auto;">
            <div style="float: left;
         font-weight: bold; font-size: 12px;display: flex; margin-top: 0.847cm;">
               <img src="http://localhost:4000/images/Ellipse 1.png" alt="logo"
                  style="width: 0.99cm;height: 0.99cm;border-radius: 50%;margin: auto;margin-right: 0.4233cm;">
               <div style="margin: auto;">Restaurant name</div>
            </div>
            <div style="float: right;margin-top: 0.8823cm;">
               <div style="margin-bottom: 0.0705cm;">
                  <img src="http://localhost:4000/images/globe.png">
                  <a href="www.restaurantonlinestore.com"
                     style="margin: auto; font-size: 6px;text-decoration: none; color: #44496B;">www.restaurantonlinestore.com</a>
               </div>
               <div style="margin: auto; font-size: 6px;"><img src="http://localhost:4000/images/phone.png"
                     style="margin-right: 0.141cm;">+1 658 3467348343
               </div>
            </div>
         </nav>
         <div style="display: flex; padding-top: 0.7411cm; width: 100%; margin-bottom: 0.829cm">
            {{#if image}}
            <div style="margin-right: 1.12cm; ">
               <img src="{{image}}" alt="" width="13.75cm" height="10.323cm">
            </div>
            <div>
               <div class="header"
                  style="font-weight: bold;font-size: 28px;font-family: Arial;width: 12.733cm;height: 7.87cm;margin-bottom: 0.4235cm;">
                  {{name}}
               </div>
               {{#if author}}
               <div class="author"
                  style="font-family: Arial;font-style: normal;font-weight: bold;width: fit-content;font-size: 16px;">
                  By: {{author}}
               </div>
               {{/if}}
               <div class="menu"
                  style="padding-top: 0.5647cm;font-family: Pacifico;font-style: normal;font-weight: normal;font-size: 14px;">
                  Non-vegeterian
                  <span class="disc-span" style="margin-top: 0.5294cm;padding: 0cm 0.564cm;margin-bottom: auto;">
                     <span class="disc"
                        style="width: 0.1411cm;height: 0.1411cm;background-color: #44496B;border-radius: 50%;display: inline-block;"></span>
                  </span>
                  Mexican
               </div>
            </div>
            {{else}}
            <div style="text-align: center;">
               <div
                  style="font-weight: bold;font-size: 28px;font-family: Arial;width:26.52cm;height: 3.35cm;margin-bottom: 1.69cm;">
                  {{name}}
               </div>
               {{#if author}}
               <div style="font-family: Arial;font-style: normal;font-weight: bold;font-size: 16px;">
                  By: {{author}}
               </div>
               {{/if}}
               <div
                  style="padding-top: 0.847cm;font-family: Pacifico;font-style: normal;font-weight: normal;font-size: 14px;">
                  Non-vegeterian
                  <span class="disc-span" style="margin-top: 0.5294cm;padding: 0cm 0.564cm;margin-bottom: auto;">
                     <span class="disc"
                        style="width: 0.1411cm;height: 0.1411cm;background-color: #44496B;border-radius: 50%;display: inline-block;"></span>
                  </span>
                  Mexican
               </div>
            </div>
            {{/if}}

         </div>
         {{#if description}}
         <div class="content"
            style="border-top: 2px solid #44496B;padding: 0.5647cm 0cm;font-style: normal;font-weight: bold;font-size: 12px;text-align: center;font-family: Arial;width: 27.72cm;min-height: 1.235cm;">
            {{description}}
         </div>
         {{/if}}
         <div class="list" style="padding: 0.9176cm 0px;margin-left: 5.326cm;font-size: 12px;display: flex;">
            {{#if servings}}
            <div class="left" style="width: max-content;text-align: center;">
               <div class="list-title" style="font-size: 12px;width: max-content;text-align: center;font-weight: bold;">
                  Servings</div>
               <div class="quantity"
                  style="font-size: 20px;padding: 0.282cm 0cm;padding-bottom: 0cm;text-align: center;">
                  {{servings}}</div>
            </div>

            <div class="disc-span" style="padding: 0cm 2.01cm;margin-top: auto;margin-bottom: auto;">
               <span class="disc"
                  style="height: 0.2117cm;width: 0.2117cm;background-color: #44496B;border-radius: 50%;display: inline-block;"></span>
            </div>
            {{/if}}
            {{#if cookingTime}}
            <div class="mid" style="width: max-content;text-align: center;">
               <div class="list-title" style="font-size: 12px;width: max-content;text-align: center;font-weight: bold;">
                  Cooking Time</div>
               <div class="quantity"
                  style="font-size: 20px;padding: 0.282cm 0cm;padding-bottom: 0cm;text-align: center;">
                  {{cookingTime}}</div>
            </div>
            <div class="disc-span" style="padding: 0px 2.01cm;margin-top: auto;margin-bottom: auto;">
               <span class="disc"
                  style="height: 0.2117cm;width: 0.2117cm;background-color: #44496B;border-radius: 50%;display: inline-block;"></span>
            </div>
            {{/if}}
            {{#if utensils}}
            <div class="right" style="width: max-content;text-align: center;">
               <div style="font-size: 12px;width: max-content;text-align: center;font-weight:bold;">Utensils required
               </div>
               <div class="quantity"
                  style="font-size: 20px;padding: 0.282cm 0cm;padding-bottom: 0cm;text-align: center;">
                  {{utensils}}</div>
            </div>
            {{/if}}
         </div>
      </div>
   </div>
   <div style="width: 29.7cm;
      height: 21cm;
      background: #FFFFFF;
      font-family: Arial;
      font-style: normal;">
      <div style=" margin-top: 0.564cm;
   margin-right: 0.987cm;
   display: flex;color: #44496B;">
         <div style="width: 8.04cm;height: 100%;">
            <div style=" font-size: 14px;
         font-family: Pacifico;
         text-align: center;
         width: 6.102cm;
         margin-left: 1.199cm;
         margin-bottom: 0.3529cm;">Ingredients</div>
            <div style="display: flex;
         font-size: 6px;">
               <div>
                  <ul style=" margin: 0cm;
               padding: 0cm;
               padding-left: 0.9876cm;
               list-style-type: none;">
                     <li style=" width: 2.75cm;
         text-align: center;
         height: max-content;
         margin-bottom: 0.5647cm;
         font-family: Arial;
         font-style: normal;
         font-weight: bold;
         font-size: 6px;">
                        <img src="http://localhost:4000/images/Rectangle 1.jpg" style="display: block;
         border-radius: 50%;
         width: 0.9876cm;
         margin: auto;
         height: 0.9876cm;
         margin-bottom: 0.0705cm;">
                        1. Ingredient
                        slip
                        name
                     </li>
                     <li style=" width: 2.75cm;
                     text-align: center;
                     height: max-content;
                     margin-bottom: 0.5647cm;
                     font-family: Arial;
                     font-style: normal;
                     font-weight: bold;
                     font-size: 6px;">
                        <img src="http://localhost:4000/images/Rectangle 1.jpg" style="display: block;
                     border-radius: 50%;
                     width: 0.9876cm;
                     margin: auto;
                     height: 0.9876cm;
                     margin-bottom: 0.0705cm;">
                        2. Ingredient
                        slip
                        name
                     </li>
                     <li style=" width: 2.75cm;
                                 text-align: center;
                                 height: max-content;
                                 margin-bottom: 0.5647cm;
                                 font-family: Arial;
                                 font-style: normal;
                                 font-weight: bold;
                                 font-size: 6px;">
                        <img src="http://localhost:4000/images/Rectangle 1.jpg" style="display: block;
                                 border-radius: 50%;
                                 width: 0.9876cm;
                                 margin: auto;
                                 height: 0.9876cm;
                                 margin-bottom: 0.0705cm;">
                        3. Ingredient
                        slip
                        name long long name
                     </li>
                     <li style=" width: 2.75cm;
                        text-align: center;
                        height: max-content;
                        margin-bottom: 0.5647cm;
                        font-family: Arial;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 6px;">
                        <img src="http://localhost:4000/images/Rectangle 1.jpg" style="display: block;
                           border-radius: 50%;
                           width: 0.9876cm;
                           margin: auto;
                           height: 0.9876cm;
                           margin-bottom: 0.0705cm;">
                        1. Ingredient
                        slip
                        name
                     </li>
                     <li style=" width: 2.75cm;
                        text-align: center;
                        height: max-content;
                        margin-bottom: 0.5647cm;
                        font-family: Arial;
                        font-style: normal;
                        font-weight: bold;
                       font-size: 6px;">
                        <img src="http://localhost:4000/images/Rectangle 1.jpg" style="display: block;
                           border-radius: 50%;
                           width: 0.9876cm;
                           margin: auto;
                           height: 0.9876cm;
                           margin-bottom: 0.0705cm;">
                        5. Ingredient
                        slip
                        name long long name
                     </li>
                     <li style=" width: 2.75cm;
                        text-align: center;
                        height: max-content;
                        margin-bottom: 0.5647cm;
                        font-family: Arial;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 6px;">
                        <img src="http://localhost:4000/images/Rectangle 1.jpg" style="display: block;
                           border-radius: 50%;
                           width: 0.9876cm;
                           margin: auto;
                           height: 0.9876cm;
                           margin-bottom: 0.0705cm;">
                        6. Ingredient
                        slip
                        name
                     </li>
                     <li style=" width: 2.75cm;
                        text-align: center;
                        height: max-content;
                        margin-bottom: 0.5647cm;
                        font-family: Arial;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 6px;">
                        <img src="http://localhost:4000/images/Rectangle 1.jpg" style="display: block;
                              border-radius: 50%;
                              width: 0.9876cm;
                              margin: auto;
                              height: 0.9876cm;
                              margin-bottom: 0.0705cm;">
                        7. Ingredient
                        slip
                        name long long name
                     </li>
                     <li style=" width: 2.75cm;
                              text-align: center;
                              height: max-content;
                              margin-bottom: 0.5647cm;
                              font-family: Arial;
                              font-style: normal;
                              font-weight: bold;
                              font-size: 6px;">
                        <img src="http://localhost:4000/images/Rectangle 1.jpg" style="display: block;
                              border-radius: 50%;
                              width: 0.9876cm;
                              margin: auto;
                              height: 0.9876cm;
                              margin-bottom: 0.0705cm;">
                        8. Ingredient
                        slip
                        name
                     </li>
                     <li style=" width: 2.75cm;
                           text-align: center;
                           height: max-content;
                           margin-bottom: 0.5647cm;
                           font-family: Arial;
                           font-style: normal;
                           font-weight: bold;
                           font-size: 6px;">
                        <img src="http://localhost:4000/images/Rectangle 1.jpg" style="display: block;
                              border-radius: 50%;
                              width: 0.9876cm;
                              margin: auto;
                              height: 0.9876cm;
                              margin-bottom: 0.0705cm;">
                        8. Ingredient
                        slip
                        name long long name
                     </li>
                  </ul>
               </div>
               <div>
                  <ul start="9" style=" margin: 0px;
               padding: 0px;
               padding-left: 0.9876cm;
               padding-right: 0.5643cm;
               list-style-type: none;">
                     <li style=" width: 2.75cm;
                     text-align: center;
                     height: max-content;
                     margin-bottom: 0.5647cm;
                     font-family: Arial;
                     font-style: normal;
                     font-weight: bold;
                     font-size: 6px;">
                        <img src="http://localhost:4000/images/Rectangle 1.jpg" style="display: block;
                     border-radius: 50%;
                     width: 0.9876cm;
                     margin: auto;
                     height: 0.9876cm;
                     margin-bottom: 0.0705cm;">
                        9. Ingredient
                        slip
                        name
                     </li>
                     <li style=" width: 2.75cm;
                                 text-align: center;
                                 height: max-content;
                                 margin-bottom: 0.5647cm;
                                 font-family: Arial;
                                 font-style: normal;
                                 font-weight: bold;
                                 font-size: 6px;">
                        <img src="http://localhost:4000/images/Rectangle 1.jpg" style="display: block;
                                 border-radius: 50%;
                                 width: 0.9876cm;
                                 margin: auto;
                                 height: 0.9876cm;
                                 margin-bottom: 0.0705cm;">
                        10. Ingredient
                        slip
                        name
                     </li>
                     <li style=" width: 2.75cm;
                                             text-align: center;
                                             height: max-content;
                                             margin-bottom: 0.5647cm;
                                             font-family: Arial;
                                             font-style: normal;
                                             font-weight: bold;
                                             font-size: 6px;">
                        <img src="http://localhost:4000/images/Rectangle 1.jpg" style="display: block;
                                             border-radius: 50%;
                                             width: 0.9876cm;
                                             margin: auto;
                                             height: 0.9876cm;
                                             margin-bottom: 0.0705cm;">
                        11. Ingredient
                        slip
                        name long long name
                     </li>
                     <li style=" width: 2.75cm;
                                    text-align: center;
                                    height: max-content;
                                    margin-bottom: 0.5647cm;
                                    font-family: Arial;
                                    font-style: normal;
                                    font-weight: bold;
                                    font-size: 6px;">
                        <img src="http://localhost:4000/images/Rectangle 1.jpg" style="display: block;
                                       border-radius: 50%;
                                       width: 0.9876cm;
                                       margin: auto;
                                       height: 0.9876cm;
                                       margin-bottom: 0.0705cm;">
                        12. Ingredient
                        slip
                        name
                     </li>
                     <li style=" width: 2.75cm;
                                    text-align: center;
                                    height: max-content;
                                    margin-bottom: 0.5647cm;
                                    font-family: Arial;
                                    font-style: normal;
                                    font-weight: bold;
                                   font-size: 6px;">
                        <img src="http://localhost:4000/images/Rectangle 1.jpg" style="display: block;
                                       border-radius: 50%;
                                       width: 0.9876cm;
                                       margin: auto;
                                       height: 0.9876cm;
                                       margin-bottom: 0.0705cm;">
                        13. Ingredient
                        slip
                        name long long name
                     </li>
                     <li style=" width: 2.75cm;
                                    text-align: center;
                                    height: max-content;
                                    margin-bottom: 0.5647cm;
                                    font-family: Arial;
                                    font-style: normal;
                                    font-weight: bold;
                                    font-size: 6px;">
                        <img src="http://localhost:4000/images/Rectangle 1.jpg" style="display: block;
                                       border-radius: 50%;
                                       width: 0.9876cm;
                                       margin: auto;
                                       height: 0.9876cm;
                                       margin-bottom: 0.0705cm;">
                        14. Ingredient
                        slip
                        name
                     </li>
                     <li style=" width: 2.75cm;
                                    text-align: center;
                                    height: max-content;
                                    margin-bottom: 0.5647cm;
                                    font-family: Arial;
                                    font-style: normal;
                                    font-weight: bold;
                                    font-size: 6px;">
                        <img src="http://localhost:4000/images/Rectangle 1.jpg" style="display: block;
                                          border-radius: 50%;
                                          width: 0.9876cm;
                                          margin: auto;
                                          height: 0.9876cm;
                                          margin-bottom: 0.0705cm;">
                        15. Ingredient
                        slip
                        name long long name
                     </li>
                     <li style=" width: 2.75cm;
                                          text-align: center;
                                          height: max-content;
                                          margin-bottom: 0.5647cm;
                                          font-family: Arial;
                                          font-style: normal;
                                          font-weight: bold;
                                          font-size: 6px;">
                        <img src="http://localhost:4000/images/Rectangle 1.jpg" style="display: block;
                                          border-radius: 50%;
                                          width: 0.9876cm;
                                          margin: auto;
                                          height: 0.9876cm;
                                          margin-bottom: 0.0705cm;">
                        16. Ingredient
                        slip
                        name
                     </li>
                     <li style=" width: 2.75cm;
                                       text-align: center;
                                       height: max-content;
                                       margin-bottom: 0.5647cm;
                                       font-family: Arial;
                                       font-style: normal;
                                       font-weight: bold;
                                       font-size: 6px;">
                        <img src="http://localhost:4000/images/Rectangle 1.jpg" style="display: block;
                                          border-radius: 50%;
                                          width: 0.9876cm;
                                          margin: auto;
                                          height: 0.9876cm;
                                          margin-bottom: 0.0705cm;">
                        16. Ingredient
                        slip
                        name
                     </li>
                  </ul>
               </div>
            </div>
         </div>
         <div
            style="width: 1px;height: 21cm;border-left: 1px dashed #44496B;transform: translateY(-0.5cm);margin-right: 0.9876cm;">
         </div>
         <div class="content">
            <div style="display: flex;
         font-size: 6px;">
               <div>
                  <div style="width: fit-content;margin-left: 0cm;margin-bottom: 0.3529cm;font-size: 14px;
               font-family: Pacifico;
               width: 4.76cm;">Preparation directions</div>
                  <ul style="margin: 0cm;
               padding: 0cm;
               list-style-type: none;position: relative;">
                     <div style="margin-right:1.1287cm;">
                        <div style="position: relative;">

                           <div style=" min-height: 0.5294cm;">
                              <img src="http://localhost:4000/images/Rectangle 1.jpg" style="width: 5.82cm;
                                 height: 4.367cm;
                                 display: block;">
                           </div>
                           <li style="position: absolute; top: 0cm;background-color: #FFFFFF;font-family: Pacifico;
                        font-style: normal;
                        font-weight: normal;
                        width: fit-content;
                        font-size: 8px; ">1. Prepare</li>
                        </div>
                        <p style="text-align: left;
                        font-family: Arial;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 6px;
                        width: 5.82cm;
                        padding-top: 0.0882cm;
                        margin: 0cm;
                        padding-bottom: 0.2823cm;
                        position: relative;">
                           Heat oil in a medium saucepan over medium heat. Coat choice of protein with cajun spices
                           on both
                           sides. Add protein choice to the saucepan, cooking thoroughly until both sides are a dark
                           brown
                           color. Spritz lemon juice over protein during cooking process.
                        </p>
                     </div>
                     <div style="margin-right:1.1287cm;">
                        <div style="position: relative;">

                           <div style=" min-height: 0.5294cm;">
                              <img src="http://localhost:4000/images/Rectangle 1.jpg" style="width: 5.82cm;
                                 height: 4.367cm;
                                 display: block;">
                           </div>
                           <li style="position: absolute; top: 0cm;background-color: #FFFFFF;font-family: Pacifico;
                        font-style: normal;
                        font-weight: normal;
                        width: fit-content;
                        font-size: 8px; ">2. Heat and Boil</li>
                        </div>
                        <p style="text-align: left;
                        font-family: Arial;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 6px;
                        width: 5.82cm;
                        padding-top: 0.0882cm;
                        margin: 0cm;
                        padding-bottom: 0.2823cm;
                        position: relative;">
                           Heat oil in a medium saucepan over medium heat. Coat choice of protein with cajun spices
                           on both
                           sides. Add protein choice to the saucepan, cooking thoroughly until both sides are a dark
                           brown
                           color. Spritz lemon juice over protein during cooking process.
                        </p>
                     </div>
                     <div style="margin-right:1.1287cm;">
                        <div style="position: relative;">

                           <div style=" min-height: 0.5294cm;">
                              <img src="http://localhost:4000/images/Rectangle 1.jpg" style="width: 5.82cm;
                                 height: 4.367cm;
                                 display: block;">
                           </div>
                           <li style="position: absolute; top: 0cm;background-color: #FFFFFF;font-family: Pacifico;
                        font-style: normal;
                        font-weight: normal;
                        width: fit-content;
                        font-size: 8px; ">3. Heat and Boil</li>
                        </div>
                        <p style="text-align: left;
                        font-family: Arial;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 6px;
                        width: 5.82cm;
                        padding-top: 0.0882cm;
                        margin: 0cm;
                        padding-bottom: 0.2823cm;
                        position: relative;">
                           Heat oil in a medium saucepan over medium heat. Coat choice of protein with cajun spices
                           on both
                           sides. Add protein choice to the saucepan, cooking thoroughly until both sides are a dark
                           brown
                           color. Spritz lemon juice over protein during cooking process.
                        </p>
                     </div>
                     </ol>
               </div>
               <div>
                  <ul style="margin: 0px;
               padding: 0px;
               list-style-type: none;position: relative;">
                     <div style="margin-right:1.1287cm;">
                        <div style="position: relative;">

                           <div style=" min-height: 0.5294cm;">
                              <img src="http://localhost:4000/images/Rectangle 1.jpg" style="width: 5.82cm;
                              height: 4.367cm;
                              display: block;">
                           </div>
                           <li style="position: absolute; top: 0cm;background-color: #FFFFFF;font-family: Pacifico;
                     font-style: normal;
                     font-weight: normal;
                     width: fit-content;
                     font-size: 8px; ">1. Prepare</li>
                        </div>
                        <p style="text-align: left;
                     font-family: Arial;
                     font-style: normal;
                     font-weight: normal;
                     font-size: 6px;
                     width: 5.82cm;
                     padding-top: 0.0882cm;
                     margin: 0cm;
                     padding-bottom: 0.2823cm;
                     position: relative;">
                           Heat oil in a medium saucepan over medium heat. Coat choice of protein with cajun spices
                           on both
                           sides. Add protein choice to the saucepan, cooking thoroughly until both sides are a dark
                           brown
                           color. Spritz lemon juice over protein during cooking process.
                        </p>
                     </div>
                     <div style="margin-right:1.1287cm;">
                        <div style="position: relative;">

                           <div style=" min-height: 0.5294cm;">
                              <img src="http://localhost:4000/images/Rectangle 1.jpg" style="width: 5.82cm;
                              height: 4.367cm;
                              display: block;">
                           </div>
                           <li style="position: absolute; top: 0cm;background-color: #FFFFFF;font-family: Pacifico;
                     font-style: normal;
                     font-weight: normal;
                     width: fit-content;
                     font-size: 8px; ">2. Heat and Boil</li>
                        </div>
                        <p style="text-align: left;
                     font-family: Arial;
                     font-style: normal;
                     font-weight: normal;
                     font-size: 6px;
                     width: 5.82cm;
                     padding-top: 0.0882cm;
                     margin: 0cm;
                     padding-bottom: 0.2823cm;
                     position: relative;">
                           Heat oil in a medium saucepan over medium heat. Coat choice of protein with cajun spices
                           on both
                           sides. Add protein choice to the saucepan, cooking thoroughly until both sides are a dark
                           brown
                           color. Spritz lemon juice over protein during cooking process.
                        </p>
                     </div>
                  </ul>
                  <img style="width: 5.82cm;
         height: 0.8117cm;
         margin-bottom: 0.1411cm" src="http://localhost:4000/images/8iGbRLX5T 1.png" alt="design">
                  <div style="width: fit-content;margin-left: 0cm;margin-bottom: 0.1411cm;font-size: 14px;
               font-family: Pacifico;">Garnish</div>
                  <ul style="margin: 0px;
               padding: 0px;
               list-style-type: none;position: relative;">
                     <div style="margin-right:1.1287cm;">
                        <div style="position: relative;">

                           <div style=" min-height: 0.5294cm;">
                              <img src="http://localhost:4000/images/Rectangle 1.jpg" style="width: 5.82cm;
                              height: 4.367cm;
                              display: block;">
                           </div>
                           <li style="position: absolute; top: 0cm;background-color: #FFFFFF;font-family: Pacifico;
                     font-style: normal;
                     font-weight: normal;
                     width: fit-content;
                     font-size: 8px; ">1. Prepare</li>
                        </div>
                        <p style="text-align: left;
                     font-family: Arial;
                     font-style: normal;
                     font-weight: normal;
                     font-size: 6px;
                     width: 5.82cm;
                     padding-top: 0.0882cm;
                     margin: 0cm;
                     padding-bottom: 0.2823cm;
                     position: relative;">
                           Heat oil in a medium saucepan over medium heat. Coat choice of protein with cajun spices
                           on both
                           sides. Add protein choice to the saucepan, cooking thoroughly until both sides are a dark
                           brown
                           color. Spritz lemon juice over protein during cooking process.
                        </p>
                     </div>
                  </ul>
               </div>
               <div>
                  <ul style=" margin: 0px;
               padding: 0px;
               list-style-type: none;">
                     <div style="margin-right:1.1287cm;">
                        <div style="position: relative;">

                           <div style=" min-height: 0.5294cm;">
                              <img src="http://localhost:4000/images/Rectangle 1.jpg" style="width: 5.82cm;
                              height: 4.367cm;
                              display: block;">
                           </div>
                           <li style="position: absolute; top: 0cm;background-color: #FFFFFF;font-family: Pacifico;
                     font-style: normal;
                     font-weight: normal;
                     width: fit-content;
                     font-size: 8px; ">1. Prepare</li>
                        </div>
                        <p style="text-align: left;
                     font-family: Arial;
                     font-style: normal;
                     font-weight: normal;
                     font-size: 6px;
                     width: 5.82cm;
                     padding-top: 0.0882cm;
                     margin: 0cm;
                     padding-bottom: 0.2823cm;
                     position: relative;">
                           Heat oil in a medium saucepan over medium heat. Coat choice of protein with cajun spices
                           on both
                           sides. Add protein choice to the saucepan, cooking thoroughly until both sides are a dark
                           brown
                           color. Spritz lemon juice over protein during cooking process.
                        </p>
                     </div>
                     <div style="margin-right:1.1287cm;">
                        <div style="position: relative;">

                           <div style=" min-height: 0.5294cm;">
                              <img src="http://localhost:4000/images/Rectangle 1.jpg" style="width: 5.82cm;
                              height: 4.367cm;
                              display: block;">
                           </div>
                           <li style="position: absolute; top: 0cm;background-color: #FFFFFF;font-family: Pacifico;
                     font-style: normal;
                     font-weight: normal;
                     width: fit-content;
                     font-size: 8px; ">1. Prepare</li>
                        </div>
                        <p style="text-align: left;
                     font-family: Arial;
                     font-style: normal;
                     font-weight: normal;
                     font-size: 6px;
                     width: 5.82cm;
                     padding-top: 0.0882cm;
                     margin: 0cm;
                     padding-bottom: 0.2823cm;
                     position: relative;">
                           Heat oil in a medium saucepan over medium heat. Coat choice of protein with cajun spices
                           on both
                           sides. Add protein choice to the saucepan, cooking thoroughly until both sides are a dark
                           brown
                           color. Spritz lemon juice over protein during cooking process.
                        </p>
                     </div>
                     <div style="margin-right:1.1287cm;">
                        <div style="position: relative;">

                           <div style=" min-height: 0.5294cm;">
                              <img src="http://localhost:4000/images/Rectangle 1.jpg" style="width: 5.82cm;
                              height: 4.367cm;
                              display: block;">
                           </div>
                           <li style="position: absolute; top: 0cm;background-color: #FFFFFF;font-family: Pacifico;
                     font-style: normal;
                     font-weight: normal;
                     width: fit-content;
                     font-size: 8px; ">1. Prepare</li>
                        </div>
                        <p style="text-align: left;
                     font-family: Arial;
                     font-style: normal;
                     font-weight: normal;
                     font-size: 6px;
                     width: 5.82cm;
                     padding-top: 0.0882cm;
                     margin: 0cm;
                     padding-bottom: 0.2823cm;
                     position: relative;">
                           Heat oil in a medium saucepan over medium heat. Coat choice of protein with cajun spices
                           on both
                           sides. Add protein choice to the saucepan, cooking thoroughly until both sides are a dark
                           brown
                           color. Spritz lemon juice over protein during cooking process.
                        </p>
                     </div>
                  </ul>
                  <img style="width: 5.82cm;
         height: 0.8117cm;
         margin-bottom: 0.1411cm" src="http://localhost:4000/images/8iGbRLX5T 1.png" alt="design">
               </div>
            </div>
         </div>
      </div>
   </div>
</body>

</html>